* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: linear-gradient(to right, #a816da, #4d0665);)
}
header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
header div img {
    height: 275px;
    object-fit: cover;
    width: 200px;
    border-radius: 40px;
} 
header div p {
    text-align: center;
    margin-top: -60px;
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
}
#msg {
    margin-top: 50px;
}
.head {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}
.head h1 {
    font-size: 45px;
    font-family: cursive;
    background-image: linear-gradient(to left, #ff4e50, #f9d423); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/* practice */
#chat {
    margin: 30px 45px 30px 45px;
    display: flex;
    flex-direction: column;
}
#chat .first {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}
.first .img img {
    height: 115px;
    width: 110px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    object-fit: cover;
    margin-left: 2px;
}
.first .text {
    background-color: #f9f9f9;
    border-radius: 30px;
    font-family: cursive;
    text-align: left;
    height: 105px;
    width: 525px;
    margin-left: 55px;
}
.first .text h1 {
    margin-right: 50px;
    margin-left: 65px;
}
.first .text p {
    margin-right: 50px;
    margin-left: 65px;
}
.second {
    flex-direction: row-reverse;
}
.second .img img {
    height: 120px;
    width: 115px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -5px;
    object-fit: cover;
}
.second .text {
    background-color: #f9f9f9;
    border-radius: 30px;
    font-family: cursive;
    text-align: right;
    height: 105px;
    width: 525px;
    margin-right: 55px;
}
.second .text h1 {
    margin-left: 50px;
    margin-right: 65px;
}
.second .text p {
    margin-left: 50px;
    margin-right: 65px;
}

